<h1>Welcome to the modmaker</h1>
<p>Under construction :D</p>

<% if user_signed_in? %>
	<p>You are logged in as <%= current_user.username %>. ᕕ( ᐛ )ᕗ</p>
	<p><%= button_to "Log out", destroy_user_session_path, :method => 'delete' %></p>
<% else %>
	<p>You are not logged in :(</p>
	<p><%= link_to "Log in", new_user_session_path %></p>
	<p><%= link_to "Register", new_user_registration_path %></p>
<% end %>