@import "bootstrap.min.css";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic);

body {
	font-family: Lato, sans-serif;
}

hr {
	border: solid 1px #d2d2d2;
	clear: both;
}

input[type="submit"], a.button {
	background-image: image-url("buttontexture.png");
	outline: solid 2px black;
	border-top: solid 2px #aaaaaa;
	border-left: solid 2px #aaaaaa;
	border-right: solid 2px #545454;
	border-bottom: solid 4px #545454;
	color: #dedede;
	text-shadow: #333333 2px 2px;
	padding: 10px;
	margin-left: 5px;
}

input[type="submit"]:hover, a.button:hover, input[type="submit"]:focus, a.button:focus {
	background-image: image-url("highlightedbuttontexture.png");
	color: #ffffa1;
	outline: solid 2px black;
	text-shadow: #3d3d27 2px 2px;
	border-top: solid 2px #bfcaff;
	border-left: solid 2px #bfcaff;
	border-right: solid 2px #596399;
	border-bottom: solid 4px #596399;
}

nav {
	background-color: #444444;

	height: 72px;
	padding: 12px 39px; /* 15 from Bootstrap, 24 from the main */
	vertical-align: bottom;
	color: white;
}

nav h1 {
	float: left;
	font-size: 2.5em;
}

nav #right {
	float: right;
}

nav a {
	text-decoration: none;
	color: inherit;
}

nav * {
	margin: 0px;
	display: inline;
}

main { /** weird selector to make the cascade happy **/
	padding: 0px 24px;
}

main h1 {
	font-size: 2em;
	vertical-align: text-bottom;
}

main h2 {
	font-size: 1.5em;
}

#flash {
	position: fixed;
	top: 12px;
	left: 50%;
}