<!doctype html>
<html>
	<head>
		<title>Modmaker</title>
		<meta charset="utf/8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<%= javascript_include_tag :all %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>